@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1.maintitle {
    text-align: center;
}

div.main {
    padding: 40px;
    background-color: rgb(37, 37, 37);
    margin: 20px;
    border-radius: 20px;
    box-shadow: -6px 6px 7px 7px rgba(0, 0, 0, 0.25);
}

div.serverlist {
    padding: 40px;
    background-color: rgb(43, 43, 43);
    margin: 20px;
    border-radius: 20px;
    box-shadow: -6px 6px 7px 7px rgba(0, 0, 0, 0.25);
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-radius: 10px;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-item {
    background-color: rgba(39, 39, 39, 0.8);
    border: 1px solid rgba(26, 26, 26, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
    transition: ease-in-out 200ms;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 150px;
    min-width: 30px;
}

.grid-item:hover {
    background-color: rgba(51, 51, 51, 0.8);
}